@import url(../styles/index.css);

.header {
    justify-content: center;
}

.header .container {
    width: fit-content;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    background-color: var(--details);
    padding: 2rem;
    border-radius: 15px;
    color: white;
}

.register form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register input{
    margin-block: 1rem;
}

.register input[type='submit'] {
    padding: .5rem;
    border-radius: 15px;
    background-color: var(--primary);
}